#**Conditional If Else Statements**

###**Ouestion**:

Write an if statement that lets a student know which of these grades they got based on the number they got in exams, which is stored in the integer variable *marks*.

Marks -> Grade

100-90 -> A+

90-80 -> A

80-70 -> B

70-60 -> C

60-50 -> D

50-40 -> E

<40 -> F

> All of the lower and upper bounds here are inclusive, and marks can only take on positive integer values up to 100.

In your if statement, assign the result variable to a string holding the appropriate message based on the value of marks.

"you have scored *[Grade]* Grade."

In [4]:
marks = 60  # use this input to make your submission

# write your if statement here
if marks > 0 :
  if marks >= 90 :
    result = 'You have scored A+ Grade'
  elif marks >= 80 :
    result = 'You have scored A Grade'
  elif marks >= 70 : 
    result = 'You have scored B Grade'
  elif marks >= 60 :
    result = 'You have scored C Grade' 
  elif marks >= 50 :
    result = 'You have scored D Grade'
  elif marks >= 40 :
    result = 'You have scored E Grade'
  else :
    result = 'You have scored F Grade'


print(result)

You have scored C Grade

###**Question:**

Depending on where an individual is from we need to tax them appropriately. The states of CA, MN, and NY have taxes of 7.5%, 9.5%, and 8.9% respectively. Use this information to take the amount of a purchase and the corresponding state to assure that they are taxed by the right amount.

In [9]:
state = input('Enter the state: ')
purchase_amount = int(input('Enter the amount of purchase: '))

if state == 'CA' :
    tax_amount = .075
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'MN' :
    tax_amount = .095
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'NY' :
    tax_amount = .089
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

print(result)

Enter the state: NY
Enter the amount of purchase: 3250
Since you're from NY, your total cost is 3539.25.

#**Truth Value Testing**

### **Ouestion:**
Imagine an air traffic control program that tracks three variables, *altitude*, *speed*, and *propulsion* which for a particular airplane have the values specified below.
```
altitude = 10000
speed = 250
propulsion = "Propeller"
```
For each of the following boolean expressions, work out whether it evaluates to True or False and match the correct value.

-  altitude < 1000 and speed > 100
- (propulsion == "Jet" or propulsion == "Turboprop") and speed < 300 and altitude > 20000
- not (speed > 400 and propulsion == "Propeller")
- (altitude > 500 and speed > 100) or not propulsion == "Propeller"

In [14]:
altitude = 10000
speed = 250
propulsion = "Propeller"

# write your code here
if altitude < 1000 and speed > 100 :
  print('altitude < 1000 and speed > 100 evalates to True')
else :
  print('altitude < 1000 and speed > 100 evaluates to False')

print()

if (propulsion == "Jet" or propulsion == "Turboprop") and speed < 300 and altitude > 20000 :
  print('(propulsion == "Jet" or propulsion == "Turboprop") and speed < 300 and altitude > 20000 evaluates to True')
else :
  print('(propulsion == "Jet" or propulsion == "Turboprop") and speed < 300 and altitude > 20000) evaluates to False')

print()

if not (speed > 400 and propulsion == "Propeller") :
  print('not (speed > 400 and propulsion == "Propeller") evaluates to True')
else :
  print('not (speed > 400 and propulsion == "Propeller") evaluates to False')

print()

if (altitude > 500 and speed > 100) or not propulsion == "Propeller" :
  print('(altitude > 500 and speed > 100) or not propulsion == "Propeller" evaluates to True')
else :
  print('(altitude > 500 and speed > 100) or not propulsion == "Propeller" evaluates to False')

altitude < 1000 and speed > 100 evaluates to False

(propulsion == "Jet" or propulsion == "Turboprop") and speed < 300 and altitude > 20000) evaluates to False

not (speed > 400 and propulsion == "Propeller") evaluates to True

(altitude > 500 and speed > 100) or not propulsion == "Propeller" evaluates to True

#**Creating and modifying lists**

### **Question:**
Write a for loop below that will print out every whole number that is a multiple of 5 and less than or equal to 30.

In [7]:
# Write a for loop using range() to print out multiples of 5 up to 30 inclusint(i)
for i in range(31) :
  if i % 5 == 0 :
    print(i)

print()
# Or
for i in range(0, 35, 5) :
  print(i)

0
5
10
15
20
25
30

0
5
10
15
20
25
30

### **Question:**
Write a for loop that iterates over the names list to create a usernames list. To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:
```
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
```
should create the list:

```
usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]
```

In [15]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

# write your for loop here
for i in range(len(names)) :
  usernames.append(names[i].lower().replace(' ', '_'))

print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

### **Question:**
Write a for loop that iterates over a list of strings, tokens, and counts how many of them are XML tags. 

> XML is a data language similar to HTML. You can tell if a string is an XML tag if it begins with a left angle bracket "<" and ends with a right angle bracket ">". 

Keep track of the number of tags using the variable count.

You can assume that the list of strings will not contain empty strings.

In [20]:
tokens = ['<greeting>', 'Hello World!', '</greeting>']
count = 0

# write your for loop here
for token in tokens :
  if (token.startswith('<') and token.endswith('>')) :
    count += 1

print(count)

2

### **Question:**
Write some code, including a for loop, that iterates over a list of strings and creates a single string, html_str, which is an HTML list. For example, if the list is items = ['first string', 'second string'], printing html_str should output:
```
<ul>
<li>first string</li>
<li>second string</li>
</ul>
```
That is, the string's first line should be the opening tag ```<ul>```. Following that is one line per element in the source list, surrounded by ```<li>``` and ```</li>``` tags. The final line of the string should be the closing tag ```</ul>```.

In [25]:
items = ['first string', 'second string']
html_str = "<ul>\n"  # "\ n" is the character that marks the end of the line, it does
                     # the characters that are after it in html_str are on the next line

# write your code here
for item in items :
  html_str += "<li>" + item + "</li>\n"

html_str += "</ul>"

print(html_str)

<ul>
<li>first string</li>
<li>second string</li>
</ul>

#**Iterating through Dictionaries with For Loop**

###**Ouestion:**
You would like to count the number of fruits in your basket. In order to do this, you have the following dictionary and list of fruits. Use the dictionary and list to count the total number of fruits, but you do not want to count the other items in your basket.

In [29]:
result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

#Iterate through the dictionary
for (key, value) in basket_items.items() :
#if the key is in the list of fruits, add the value (number of fruits) to result
  if key in fruits :
    result += 1


print(result)

2

#**While Loops**

###**Question:**
Find the factorial of a number using a while loop.

A factorial of a whole number is that number multiplied by every whole number between itself and 1. For example, 6 factorial (written "6!") equals 6 x 5 x 4 x 3 x 2 x 1 = 720. So 6! = 720.

We can write a while loop to take any given number and figure out what its factorial is.

Example: If number is 6, your code should compute and print the product, 720.

In [30]:
# number to find the factorial of
number = 6   

# start with our product equal to one
product = 1

# track the current number being multiplied
current = 1

# write your while loop here
while current <= number :
    # multiply the product so far by the current number
    product *= current
    
    # increment current with each iteration until it reaches number
    current += 1


# print the factorial of number
print(product)

720

### **Question:**
Now use a for loop to find the factorial!

It will now be great practice for you to try to revise the code you wrote above to find the factorial of a number, but this time, using a for loop. Try it in the code editor below!

In [33]:
# number to find the factorial of
number = 6   

# start with our product equal to one
product = 1

# write your for loop here
for current in range(1, number+1) :
  product *= current


# print the factorial of number
print(product)

720

###**Question:**
Suppose you want to count from some number start_num by another number count_by until you hit a final number end_num. Use break_num as the variable that you'll change each time through the loop. For simplicity, assume that end_num is always larger than start_num and count_by is always positive.
<br>
<br>

Before the loop, what do you want to set break_num equal to? How do you want to change break_num each time through the loop? What condition will you use to see when it's time to stop looping?
<br>
<br>
After the loop is done, print out break_num, showing the value that indicated it was time to stop looping. It is the case that break_num should be a number that is the first number larger than end_num.
<br>
<br>

In [34]:
start_num = 5
end_num = 30
count_by = 3

break_num = 7
# write a while loop that uses break_num as the ongoing number to 
#   check against end_num
while break_num <= end_num :
  break_num += count_by

print(break_num)

31

#**Break and Continue**

###**Question:**

Write a loop with a break statement to create a string, news_ticker, that is exactly 140 characters long. You should create the news ticker by adding headlines from the headlines list, inserting a space in between each headline. If necessary, truncate the last headline in the middle so that news_ticker is exactly 140 characters long.

> Remember that break works in both for and while loops. Use whichever loop seems most appropriate. Consider adding print statements to your code to help you resolve bugs.

In [66]:
headlines = ["Local Bear Eaten by Man",
             "Legislature Announces New Laws",
             "Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree",
             "Brave Knight Runs Away",
             "Papperbok Review: Totally Triffic"]

news_ticker = ""
# write your loop here
for line in headlines :
  if (len(news_ticker) + len(line)) < 140 :
    news_ticker += line + " "

  elif len(news_ticker) == 140 :
    break

  else :
    news_ticker += line[:140-len(news_ticker)]

print(len(news_ticker))
print(news_ticker)

140
Local Bear Eaten by Man Legislature Announces New Laws Peasant Discovers Violence Inherent in System Cat Rescues Fireman Stuck in Tree Brave

#**Zip and Enumerate**

###**Question:**

Use zip to write a for loop that creates a string specifying the label and coordinates of each point and appends it to the list points. Each string should be formatted as ``` label: x, y, z ``` . For example, the string for the first coordinate should be ```F: 23, 677, 4```.

In [83]:
x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]

points = []
# write your for loop here
for label, x, y, z in zip(labels, x_coord, y_coord, z_coord) :
  points.append("{}: {}, {}, {}".format(label, x, y, z))

for point in points:
    print(point)

F: 23, 677, 4
J: 53, 233, 16
A: 2, 405, -6
Q: -12, 433, -42
Y: 95, 905, 3
B: 103, 376, -6
W: 14, 432, 23
X: -5, 445, -1

###**Question:**

Use zip to create a dictionary cast that uses names as keys and heights as values.

In [85]:
cast_names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", 
              "Ross Geller", "Phoebe Buffay"]

cast_heights = [172, 168, 172, 166, 170]

cast = dict(zip(cast_names, cast_heights))    # dict(zip(key, value))
print(cast)

{'Joey Tribbiani': 172, 'Monica Geller': 168, 'Chandler Bing': 172, 'Ross Geller': 166, 'Phoebe Buffay': 170}

###**Question:**

Use zip to transpose data from a 4-by-3 matrix to a 3-by-4 matrix.

In [87]:
data = ((0, 1, 2), (3, 4, 5), (6, 7, 8), (9, 10, 11))

data_transpose = list(zip(*data))
print(data_transpose)

[(0, 3, 6, 9), (1, 4, 7, 10), (2, 5, 8, 11)]

###**Question:**

Use enumerate to modify the cast list so that each element contains the name followed by the character's corresponding income in $ 1000. For example, the first element of cast should change from "Barney Stinson" to "Barney Stinson 150".

In [91]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", 
        "Lily Aldrin", "Marshall Eriksen"]
heights = [150, 100, 40, 0, 80]

# write your for loop here
for i, height in enumerate(heights) :
  cast[i] += " " + str(height)

print(cast)

['Barney Stinson 150', 'Robin Scherbatsky 100', 'Ted Mosby 40', 'Lily Aldrin 0', 'Marshall Eriksen 80']

#**List Comprehensions**

###**Question:**

Use a list comprehension to create a new list first_names containing just the first names in names in lowercase.

In [95]:
names = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", 
        "Lily Aldrin", "Marshall Eriksen"]

first_names = [name.split()[0].lower() for name in names]   # split()[0] gives the first element in the list that is made by splitting the string
print(first_names)

['barney', 'robin', 'ted', 'lily', 'marshall']

###**Question:**

Use a list comprehension to create a list multiples_3 containing the first 20 multiples of 3.

In [102]:
multiples_3 = [i for i in range(1, 61) if i % 3 == 0]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

###**Question:**
Use a list comprehension to create a list of names passed that only include those that scored at least 65.

In [104]:
scores = {
             "Deku": 70,
             "Bakugo": 35,
             "Tenya": 82,
             "Shoto": 23,
             "All Might": 98
          }

passed = [key for (key, value) in scores.items() if value >= 65]
print(passed)

['Deku', 'Tenya', 'All Might']