#**Arithmetic Operators**

###**Task:**
Now perform all the arithematic operations on the numbers 7 and 2.

In [1]:
# While showing the output use print()

# add 7 and 2 below
print(7+2)

# substract 2 from 7 below
print(7-2)

# multiply 7 and 2 below
print(7*2)

# divide 7 by 2 below
print(7/2)

# remainder after we divide 7 by 2 below
print(7%2)

# 7 raise to the power 2 below
print(7**2)

# divide 7 by 2 nd round it to the nearest integer
print(7//2)

9
5
14
3.5
1
49
3

#**Order Of Operations**

###**Question:**
In this quiz you're going to do some calculations for your 
bills. Your net expenditure for the past 5 months has been 
1200, 2000, 800, 1500 and 1700. What is your average monthly
expenditure.

In [2]:
average = (1200 + 2000 + 800 + 1500 + 1700)/5
print(f'The average monthly expenditure is {average}')

The average monthly expenditure is 1440.0

###**Question:**

In this quiz you're going to do some calculations for a mason. Two rooms in a house needs to be filled. One room is 4 ft wide by 11 ft long, the other is 5 ft wide by 9 ft long. Tiles come in packages of 7 and each tile is 1ftx1ft in size<br><br>
1) How many tiles are needed?<br>
2) You buy 17 packages each containing 6 tiles each. How many tiles will be left over?

In [4]:
area_of_tile = 1
area_of_house_1 = 4*11
area_of_house_2 = 5*9

# write the code that calculates how many tiles are needed down below.
total_tiles = (area_of_house_1 + area_of_house_2)/area_of_tile
print(int(total_tiles))

# write the code that calculates how many tiles will be left over.
tiles_bought = 17*6
tiles_left = tiles_bought - total_tiles
print(int(tiles_left))

89
13

#**Multiple Assignment Operator**

###**Question:**
Find the length of the vector with its start coordinates as the origin and the end coordinates as (4,5,6).

> *length = squareroot(x^2 + y^2 + z^2)*

In [6]:
# write your code here
import math

x, y, z = 4, 5, 6
length = math.sqrt(x**2 + y**2 + z**2)
print(f'The length is {length}')

The length is 8.774964387392123

#**Variable Naming Conventions**

###**Question:**
You are managing your finances using python:

* complete the tasks mentioned in the comments. and then print the amount left in your bank.

> *Note that this code uses scientific notation to define large numbers. 1.2e6 is equal to        1.2 * 10 ** 6 which is equal to 1200000.*

In [7]:
# the amount of money in your bank account is 1.2e5
amt = 1.2e6

# money recieved every year in form of salary
salary = 9.3e5

# decrease the salary by 30% as tax paied to the government.
salary -= 0.3*salary

# Add the salary to the bank account amt variable
amt += salary

# increase the amt by 4% that you recieved from the bank as intrest
amt += 0.04*amt

# substract 1.2e5 from amt as the rent paied
amt -= 1.2e5

# print the new value of the amt variable
print(amt)

1805040.0

#**Boolean Datatype, Comparison and Logical Operators**

###**Question:**

Is **Mumbai** more **dense** than Delhi?
> *Print ***True*** if it is and ***False*** if it is not.*

In [8]:
mum_population, mum_area = 20411000, 4355
del_population, del_area = 30291000, 1484

mum_francisco_pop_density = mum_population/mum_area
del_de_janeiro_pop_density = del_population/del_area

# Print True if Mumbai is denser than Delhi, and False otherwise
is_dense = mum_francisco_pop_density > del_de_janeiro_pop_density
print(is_dense)

False

#**Strings**

### **Question:**

The line of code in the following code block will cause a *SyntaxError*, thanks to the misuse of quotation marks. First run it with Test Run to view the error message. Then resolve the problem so that the quote (from Mahatama Gandhi) is correctly assigned to the variable *gandhi_quote*.

In [10]:
# TODO: Fix this string!
gandhi_quote = 'If you don\'t ask, you don\'t get it'
print(gandhi_quote)

If you don't ask, you don't get it

### **Question:**

In this question you have to print the accuracy logs of a model in training.

In [12]:
model = "VGG16"
iteration = "150"
accuracy = "67.98"

# TODO: print a log message using the variables above
# This message should have the same format as this one:
# "the accuracy of ResNET50 model in 100th iteration is: 42.16%"

print(f'The accuracy of {model} model in  {iteration}th iteration is: {accuracy}%')

The accuracy of VGG16 model in  150th iteration is: 67.98%

### **Question:**

Use string concatination and *len()* function to fing the length of a persons complete name and store it in the variable *name_length*.

As a business card designer find if the name can fit into a business card.

In [18]:
given_name = "Rahul"
middle_names = "Shastri"
family_name = "Mishra"

name_length = len(given_name + " " +  middle_names + " " + family_name)

# Now we check to make sure that the name fits within the driving license character limit
# Nothing you need to do here
driving_license_character_limit = 28
print(name_length <= driving_license_character_limit)

True

#**Type and Type Conversion Revision**

### **Question:**

In this quiz, you’ll need to change the types of the input and output data in order to get the result you want.

Calculate and print the total sales for the week from the data provided. Print out a string of the form "This week's total sales: xxx", where xxx will be the actual total of all the numbers. You’ll need to change the type of the input data in order to calculate that total.

In [19]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"

#TODO: Print a string with this format: This week's total sales: xxx
# You will probably need to write some lines of code before the print statement.
total_sales =  int(mon_sales) + int(tues_sales) + int(wed_sales) + int(thurs_sales) + int(fri_sales)
print('This week\'s total sales: ' + str(total_sales))

This week's total sales: 529

#**Lists and Membership Operators**

### **Question:**

Try to use *len()* to pull the last element from the above list
>students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner']

In [21]:
students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner']
print(students[len(students)-1])

banner

#**Dictionary And Identity Operators**

### Task:
Define a dictionary named population that contains this data:

**Keys** ->	    **Values**

New York ->		17.8

Spain	  ->	   13.3

Dhaka	  ->	   13.0

Mumbai	  ->	 12.5

In [28]:
places = {'New York': 17.8, 'Spain': 13.3, 'Dhaka': 13.0, 'Mumbai': 12.5}
for (key, value) in places.items() :
  print('Key: {} and Value: {}'.format(key.ljust(8), value))

Key: New York and Value: 17.8
Key: Spain    and Value: 13.3
Key: Dhaka    and Value: 13.0
Key: Mumbai   and Value: 12.5

### **Question:**

Try your hand at working with nested dictionaries. Add another entry, *'is_noble_gas,'* to each dictionary in the *elements* dictionary. After inserting the new entries you should be able to perform these lookups:



---

> print(elements['hydrogen']['is_noble_gas'])<br>
False

> print(elements['helium']['is_noble_gas'])<br>
True

In [30]:
elements = {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'},
            'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}}

def add_key(dictionary, key, value) :
  if key not in dictionary:
    dictionary[key].append(value)
  else :
    dictionary[key] = [dictionary[key], value]

add_key(elements, 'hydrogen', {'is_noble_gas': False})
add_key(elements, 'helium', {'is_noble_gas': True })
print(elements)

print(elements['hydrogen'][1]['is_noble_gas'])
print(elements['helium'][1]['is_noble_gas'])

{'hydrogen': [{'number': 1, 'weight': 1.00794, 'symbol': 'H'}, {'is_noble_gas': False}], 'helium': [{'number': 2, 'weight': 4.002602, 'symbol': 'He'}, {'is_noble_gas': True}]}
False
True